@import url(Vazirmatn-font-face.css);
@import url(Vazirmatn-Variable-font-face.css);

:root{
    --blue: #2980b9;
    --black: #333;
    --wite: #fff;
    --light-color: #777;
    --light-bg: #eee;
    --aqua: #156;
    --box-shadw: 0 5rem 10rem rgba(0, 0, 0, 0.1);
}

*{
    font-family: Vazirmatn;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /*outline: none;
    border: none;
    text-decoration: none;*/
    text-transform: capitalize;
    /*transition: all .2s linear;*/
}

html ::-webkit-scrollbar { /* پس زمینه نوار اسکرول */
    width: 0.625rem;
}

html ::-webkit-scrollbar-track{ /* فضای خالی زیر نوار پیشرفته */
    background: var(--blue);
}

html ::-webkit-scrollbar-thumb{
    background: var(--wite);
    border-radius: 3.125rem;
}

/* تلفن های هوشمند (نمای عمودی و افقی) ———- */

@media screen and (min-width: 320px) and (max-width: 480px){

    
}

/* تگ های بخش index */

.indexbody{
    background: linear-gradient(45deg, rgb(17, 128, 17), var(--blue));
}

.welcome {
    color: var(--light-bg);
    border-radius: 0.5rem ;
    
    padding: 0.25rem;
    text-align:right;
    direction: rtl;
    float: right;
    margin-right:auto;
    margin-left:auto;
    display:block;
    margin:5rem;
}

h1{
    text-align: center;
}

a{
    color: yellow;
    text-align:right;
    direction: rtl;
    float: right;
    margin: 0.3rem;
    padding: 0.2rem;
    display: inline;
}

img.welcome{
    width: 20rem;
    height: 20rem;
    clip-path: circle();
    margin: 5rem;
}

/* تگ های بخش create */

header{
    background-color: var(--aqua); 
    color:yellow;
    padding: 2rem;
    text-align:center;
    display: block;
}

#site.head{
    display: inline;
    text-align:right;
    float: right;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
}

.container{
    width: 100%;
    display: block;
    flex-wrap: wrap;
    border: 2rem;

    padding: 6.25rem 9%;
    background: linear-gradient(45deg, rgb(17, 128, 17), var(--blue));
}

.input-item{
    padding: 0.125rem;
    direction: rtl;
    display:block;
    /**/
}

/* تگ های بخش demo */

.demobody{
    display: grid;
    align-content: right;
    justify-content: right; /* می توان موقغیت یا محل قرارگیری آیتم های یک فلکس باکس را به صورت افقی می توان مشخص یا تعریف کرد */
}

img .profile{
    width: 5rem;
    height: 5rem;
    clip-path: circle();
    margin: 5rem;
}

.container .profile{
    display: flex;
    flex: center;
    background: var(--wite);
    padding: 1.875rem 1.25rem;
    text-align: center;
    position: sticky;
    top: 1.25rem; left: 0;
    border: 0.125rem solid var(--black);
}

.container .profile img{
    height: 9.375rem;
    width: 9.375rem;
    border-radius: 50%;
    border: 0.125rem solid var(--black);
    object-fit: cover; /*میتوان نحوه فیت شدن اندازه عناصر جایگزین شده را مشخص و یا تعریف کرد، مثلا این تصویر با بُرِش زدن تصویر تمام فضای ظرف
    را بپوشاند و مقایس را حفظ کند*/
    margin-bottom: 0.625rem;
}
.container .information{
    flex: 1 1 62.5rem;
    background: var(--wite);
}

 div{
    border: 2rem;
    border-radius: 2rem;
    border-radius: 2rem;

    display: block;
    text-align:right; 
    direction: rtl;
    float: right;
    display: flex;
    flex-direction: row;

} */