@import url(Vazirmatn-font-face.css);
@import url(Vazirmatn-Variable-font-face.css);


.welcome {
    color: yellow;
    border-radius: 0.5rem ;
    
    padding: 0.25rem;
    text-align:right;
    direction: rtl;
    float: right;
    margin-right:auto;
    margin-left:auto;
    display:block;
    margin:5rem;
}

*{
    font-family: Vazirmatn;
}

div{
    border: 2rem;
    border-radius: 2rem;
    border-radius: 2rem;

    display: block;
    text-align:right;
    direction: rtl;
    float: right;
    display: flex;
    flex-direction: row;

}

h1{
    text-align: center;
}

a{
    color: yellow;
    text-align:right;
    direction: rtl;
    float: right;
    margin: 0.3rem;
    padding: 0.2rem;

    display: inline;
}

img.profile{
    width: 20rem;
    height: 20rem;
    clip-path: circle();
    margin: 5rem;
}


* {
    padding: 0.2rem;
    margin: 0.1rem;
}
header{
    
    background-color: rgb(36, 29, 71);
    color:yellow;
    padding: 2rem;
    text-align:center;
    display: block;
}

#site.head{
    display: inline;
    text-align:right;
    direction: rtl;
    float: right;
    display: flex;
    flex-direction: row;
}

.container{
    display:flex;
}

.input-item{
    display:block;
}