@import url(Vazirmatn-font-face.css);
@import url(Vazirmatn-Variable-font-face.css);

:root{
    --blue: #2980b9;
    --black: #333;
    --wite: #fff;
    --light-color: #777;
    --light-bg: #eee;
    --box-shadw: 0 5rem 10rem rgba(0, 0, 0, 0.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
  }

img.profile{
    width: 5rem;
    height: 5rem;
    clip-path: circle();
    margin: 5rem;
}

.grid-container{
    padding: 100px 9%;
    background: linear-gradient(45deg, deeppink, var(--blue));
}

body {
    display: grid;
    align-content: right;
    justify-content: right;
 }